/** Breakpoint Variable for Media Query */
$breakpoint-large: 700px !default;
$breakpoint-small: 450px !default;

$loading-spinner-border-width: 3px !default;
$loading-spinner-border-color: #f3f3f3 !default;
$loading-spinner-border-top-color: #000000 !default;
$loading-spinner-width: 50px !default;
$loading-spinner-height: 50px !default;

$font-family: 'OpenSans', sans-serif !default;
$font-family-android: 'OpenSans', sans-serif !default;
$font-family-ios: 'OpenSans', sans-serif !default;

$font-perso: 13px !default;
$font-size-header: 13px !default;
$font-perso-H2: 25px !default;
$font-perso-H4: 11px !default;
$font-size-text-note: 11px !default;

$font-size-button: 15px !default;
$font-size-link: 11px !default;
$font-size-tab: 11px !default;

$font-size-table:11px !default;

$font-size-textbox : 10px !default;

$spacing: 15px !default;

$breakpoint-iphone5: 347px !default;
$breakpoint-iphone6: 395px !default;
$breakpoint-iphone6plus: 414px !default;

$font-size-rating: 11px !default;

$color: #ffffff !default;
$fontColor: rgba(44, 55, 95, 1);

$ratio-medium :1.17 !default;
$ratio-large :1.3 !default;

$ratio-font-medium :1.5 !default;
$ratio-font-large :2 !default;


/** project */

/**
*   project variables
*/
$font-family: 'OpenSans', sans-serif;
$font-family-android: 'OpenSans', sans-serif;
$font-family-ios: 'OpenSans', sans-serif;

$spacing-small: 15px;
$spacing-medium: 20px;
$spacing-large: 24px;

$font-size-date : 11px!default;
$font-size-transaction : 12px!default;
$font-size-amount-balance : 12px!default;
$font-size-account-number:11px !default;
$font-size-small: 11px !default;

/*
table type 2
*/

$font-size-date-type-2 : 11px!default;
$font-size-transaction-type-2 : 14px!default;
$font-size-amount-balance-type-2 : 12px!default;
$font-size-legend-text-type-2: 12px!default;

$legend-dot-height:7px !default;
$legend-dot-width:7px !default;
$legend-large-dot-height:10px !default;
$legend-large-dot-width:10px !default;

$compare-block-height: 7.3em !default;

$block-padding-letf: 9.3% !default;
$block-padding-right: 9.3% !default;
$outer-wrapper-padding: 4.6% !default;
$transaction-icon-width:1.5625em !default;
$transaction-icon-height:1.5625em !default;

/*Account Selector*/
    $AS-block-height : 22.8% !default;
    /*header tabs*/
    $AS-font-size-header-button : 11px !default;
    $font-size-header-button : 12px !default;
    $line-height-header-button : 21px !default;
    $padding-top-header-button-text : 5px !default;
    $AS-font-color-tab: rgba(255, 255, 255, 0.7) !default;
    //$AS-font-color-tab: rgba(0, 0, 0, 0.4) !default;
    $font-color-tab: rgba(33, 49, 99, 0.6) !default;
    $AS-font-color-selected-tab: rgba(255, 255, 255, 1) !default;
    //$AS-font-color-selected-tab: rgba(0, 0, 0, 1) !default;
    $font-color-selected-tab:  rgba(33, 49, 99, 1) !default;
    $padding-bottom-tab: 1% !default;
    $width-tab: 50% !default;
    $AS-width-tab: 8.95em !default;
    $color-tab-animation-border: rgba(142, 176, 246, 1) !default;
    $AS-color-tab-animation-border: rgba(0, 0, 0, 1) !default;
    $height-tab-animation-height : 10% !default;
    $AS-height-tab-animation-background-color : rgba(255, 255, 255, 1) !default;
    $height-tab-animation-background-color :  rgba(54, 54, 54, 1) !default;
    $AS-tablist-before-background-color: rgba(255, 255, 255, 0.3) !default;
    $tablist-before-background-color: rgba(54, 54, 54, 0.3) !default;
    $height-tab-animation-border : 0.13em !default;
    $AS-height-tab-animation-border : 0.13em !default;

    /*circle animation*/
    $AS-overlay-circle-animation-width : 1270px !default;
    $AS-overlay-circle-animation-height : 1270px !default;
    $AS-overlay-circle-animation-border-radius : 50% !default;
    $AS-overlay-circle-animation-left : -635px !default;
    $AS-overlay-circle-animation-top : -620px !default;

    /*containers*/
    $AS-box-shadow-carousel-outer-wrapper: none;
    $AS-padding-left-carousel-outer-wrapper: 28px !default;
    $AS-padding-right-carousel-outer-wrapper: 28px !default;
    $AS-padding-top-perso-options-container: 11px !default;
    $AS-padding-bottom-perso-options-container: 6.5px !default;
    $AS-padding-top-perso-options-container-bellow-tabs: 14px !default;
    $AS-padding-bottom-perso-options-container-bellow-tabs: 14px !default;
    $AS-padding-bottom-perso-options-container-bellow-tabs-collapse: 8px !default;

    /*all accounts txt*/
    $AS-margin-top-all-txt: 0 !default;
    $AS-font-size-all-txt: 12px !default;
    $AS-font-size-all-txt-bold: 21px !default;
    $AS-font-color-all-txt: rgba(255, 255, 255, 1) !default;
    $AS-font-color-all-txt-bold: rgba(142, 176, 246, 1) !default;
    $AS-background-color-choose-account:  linear-gradient(rgba(130, 170, 251, 1) 0%, rgba(179, 204, 254, 1) 100%) !default;
    $AS-background-color-all: linear-gradient(180deg, rgba(35, 37, 62, 1) 0%, rgba(13, 15, 32, 1) 100%) !default;
    $AS-font-weight-all-txt: 800 !default;

    $AS-font-size-cards : 13px;
    /*card*/
    $AS-padding-right-card: 13px !default;
    $AS-padding-top-card: 10px !default;
    $AS-padding-left-card: 13px !default;
    $AS-padding-bottom-card: 13px !default;
    $AS-side-space-button: 18px !default;
    $AS-width-card: 230px !default;
    $AS-height-card: 60px !default;
    $AS-border-radius-card: 10px !default;
    $AS-padding-top-txt-card: 0;
    $AS-margin-top-card: 0 !default;
    $AS-margin-bottom-card: 0 !default;
    $AS-card-boxshadow: none;

    $AS-font-size-button-txt: 12px;
    $AS-font-size-button-txt-bold: 12px;
    $AS-font-size-card-number : 11px !default;
    $AS-font-size-card-name : 11px !default;

    /*selected card*/
    $AS-width-selected-card: 230px !default;
    $AS-height-selected-card: 65px !default;
    $AS-border-radius-selected-card: 10px !default;
    $AS-selected-card-boxshadow: 0px 12px 24px 0px rgba(91, 119, 182, 0.48) !default;
    $AS-font-size-selected-card-number : 11px !default;
    $AS-font-size-selected-card-name : 11px !default;

    /*arrows*/
    $AS-arrow-top: 34px !default;
    $AS-next-arrow-left: 292px !default;
    $AS-arrow-height: 14px !default;
    $AS-arrow-width: 8px !default;
    $AS-prev-arrow-left: 4.6% !default;
    $AS-arrow-back-color: transparent !default;
    $AS-next-arrow-image: url("../resources/images/arrow-right.svg") !default;
    $AS-prev-arrow-image: url("../resources/images/arrow-left.svg") !default;
    $AS-disable-arrow-opacity: 0.5 !default;

    /*index dots*/
    $AS-font-size-index-wrapper: 10px !default;
    $AS-padding-top-index-dots: 0.75em !default;
    $AS-padding-top-index-dots-collapse: 0.4em !default;
    $AS-size-index-dot: 0.5em !default;
    $AS-size-index-dot-collapse: 3px !default;
    $AS-size-selected-index-dot: 0.5em !default;
    $AS-space-index-dot: 0.57em !default;
    $AS-color-index-dot: rgba(255, 255, 255, 1) !default;
    $AS-color-selected-index-dot: rgba(35, 37, 62, 1) !default;

    /*collapse*/
    $font-size-account-selector-header-text: 16px;
    $font-size-account-selector-sub-text: 13px;
    /*cards background colors*/
    $AS-card-background-color-1: #ffffff !default;
    $AS-card-background-color-2: #e4e9f5 !default;
    $AS-card-background-color-3: #d2e1fe !default;
    $AS-card-background-color-4: rgba(221, 227, 241, 1) !default;
/*END Account Selector*/

$font-size-tab : 12px;

$font-size-radio-button: 13px !default;
$line-height-radio-button: 18px !default;
$color-radio-button: rgba(44, 55, 95, 1) !default;
$bottom-border-color-radio-button: rgba(193, 193, 193, 0.4) !default;
$selected-background-color-radio-button: rgba(235, 235, 235, 1) !default;
$color-radio-button-text: #6787d1 !default;
$color-radio-button-circle: rgb(100, 132, 205) !default;

$font-size-textbox-value : 17px;
$color-textbox-value :  rgba(44, 55, 95, 1);
$font-size-textbox-label : 11px;
$color-textbox-label :  rgba(97, 98, 102, 1);
$font-size-textbox-with-image-value: 17px;
$font-size-textbox-with-image-label: 12px;

$font-size-compare-block-text: 12px;
$font-size-compare-block-value: 11px;


$font-size-text-label-small: 14px;
$font-size-text-label-medium: 16px;
$font-size-text-label-large: 18px;

$font-size-text-axis-small: 13px;
$font-size-text-axis-medium: 15px;
$font-size-text-axis-large: 19px;

$font-size-text-axis-pin-small: 12px;
$font-size-text-axis-pin-medium: 14px;
$font-size-text-axis-pin-large: 15px;

$font-size-pie-text-small: 13px;
$font-size-pie-text-medium: 15px;
$font-size-pie-text-large: 17px;

$font-size-pie-amount-text-small:20px;
$font-size-pie-amount-text-medium:24px;
$font-size-pie-amount-text-large:30px;

$font-size-pie-amount-small:20px;
$font-size-pie-amount-medium:24px;
$font-size-pie-amount-large:30px;

$font-size-pie-amount:18px !default;
$font-size-pie-category:12px;
$color-pie-amount: rgba(44, 55, 95, 1) !default;
$color-pie-category: rgba(97, 98, 102, 1) !default;
$padding-pie-text-info:7.8% !default;

$minimizeFont-size-text-label-small: 12px;
$minimizeFont-size-text-label-medium: 13px;
$minimizeFont-size-text-label-large: 15px;

$font-size-feedback-submit: 15px;
$font-size-feedback-text: 13px;
$font-size-feedback-reaction:15px;
$font-size-feedback-wrapper:14px;

$font-size-line-text-small: 12px;
$font-size-line-text: 12px;

$breakPoint-desktop: 790px !default;
$breakPoint-tablet: 599px !default;


$ES-font-size-index-wrapper: 1px;
$ES-color-selected-index-dot: rgba(35, 37, 62, 1);
$ES-color-index-dot: rgba(35, 37, 62, 1);
$ES-space-index-dot:5.72em;
$ES-size-selected-index-dot:5em;
$ES-size-index-dot:5em;
$ES-padding-top-index-dots:9.5em;

$ES-label-font-size: 11px;
$ES-container-margin: 3.9em;
$ES-button-width: 3.3em;
$ES-button-space: 0.55em;
$ES-selected-button-width: 5em;
$ES-button-height: 3.3em;
$ES-selected-button-height: 5em;
$ES-button-radius: 50%;
$ES-button-color: rgba(241, 241, 241, 0.6);
$ES-selected-button-color:  rgba(241, 241, 241, 1);

$ES-arrow-width: 0.6em;
$ES-arrow-height: 0.9em;
$ES-next-arrow-image: url("../resources/images/entity_selector/arrow-right.svg");
$AS-prev-arrow-image: url("../resources/images/entity_selector/arrow-left.svg");
$ES-arrow-back-color: transparent;

//Entity Selector

$ES-first-last-button-margin: 1.9em;
//END Entity Selector

//Dialog
$dialog-fixed-height:65%;
//END Dialog


/** project */

/**
*   project variables
*/

