//.pstory-frame{
////    .pstory-dialog-frame{
////        padding: 0;
////        margin: 0;
////        .pstory-block-frame{
////            padding: 0;
////            margin: 0;
////        }
////    }
////}